.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  height: 4rem;
}

.bodyContainer h3 {
  text-align: center;
}

.pokemonQuantity {
  display: flex;
  justify-content: space-around;
}

.pokemonQuantity span {
  text-align: center;
}
